body {
  background-color: #090b1a;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 98vh;
}

section {
  background-color: #1b1938;
  display: flex;
  border-radius: 10px;
  width: 70%;
  height: 50%;
  align-self: center;
  position: relative;
  top: 10%;
}

footer {
  align-self: flex-end;
  text-align: center;
  color: #ffffff;
}

footer a {
  color: hsl(228, 45%, 44%);
}

p {
  color: #ffffffbf;
  font-size: 0.8em;
  position: relative;
}

h1 {
  font-size: 1.7em;
  color: #ffffff;
}

h2 {
  font-size: 1.3em;
  color: #ffffff;
}

span {
  color: #aa5cdb;
}

h2 + p {
  color: #ffffff99;
  text-transform: uppercase;
}

#content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#main {
  font-family: "Inter", sans-serif;
  width: 66%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#stat {
  font-family: "Lexend Deca", sans-serif;
  width: 66%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

#imgBg {
  width: 50%;
  height: 100%;
  background: auto;
  background-image: url("images/image-header-desktop.jpg");
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#purple {
  background-color: #542f6b;
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.6;
}

@media (max-width: 980px) {
  section {
    height: 70%;
    flex-direction: coloumn;
    flex-wrap: wrap;
  }
  #imgBg {
    order: 1;
    width: 100%;
    height: 40%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
  }
  #content {
    order: 2;
    width: 100%;
    height: 60%;
  }
  #purple {
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
  }
}

@media (max-width: 635px) {
    body {
        height: 150vh;
    }
}

@media (max-width: 500px) {
    body {
        text-align: center;
    }
    #imgBg {
        height: 25%;
    }
    #content {
        height: 75%;
    }
    #stat {
        flex-direction: column;
        height: 50%;
    }
    #main {
        height: 50%;
    }

}

@media(max-width: 400px) {
    section {
        align-self: flex-start;
        height: 80%;
        position: relative;
        bottom: 10%;
    }
    footer {
        position: relative;
        top: 5%;
    }
}
